<a href="https://colab.research.google.com/github/ZeyamAli/Cat-Vs-Dog-classification/blob/main/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab 3

#program to find numbers divisible by 7 andmultiple of 5 between range of 1500 and 2700

In [ ]:
for i  in range (1500, 2701):
  if (i%7==0) and (i%5==0):
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

#converter for temperature

In [ ]:
def convert_celsius_to_fahrenheit(celsius):
  """Converts Celsius to Fahrenheit."""
  fahrenheit = (9/5) * celsius + 32
  return fahrenheit

def convert_fahrenheit_to_celsius(fahrenheit):
  """Converts Fahrenheit to Celsius."""
  celsius = (5/9) * (fahrenheit - 32)
  return celsius

# Get user input
temperature_value = float(input("Enter the temperature value: "))
temperature_unit = input("Enter the unit (C for Celsius, F for Fahrenheit): ").upper()

# Perform conversion and print result
if temperature_unit == 'C':
  converted_temperature = convert_celsius_to_fahrenheit(temperature_value)
  print(f"{temperature_value} degrees Celsius is equal to {converted_temperature} degrees Fahrenheit.")
elif temperature_unit == 'F':
  converted_temperature = convert_fahrenheit_to_celsius(temperature_value)
  print(f"{temperature_value} degrees Fahrenheit is equal to {converted_temperature} degrees Celsius.")
else:
  print("Invalid unit. Please enter C or F.")

Enter the temperature value: 60
Enter the unit (C for Celsius, F for Fahrenheit): c
60.0 degrees Celsius is equal to 140.0 degrees Fahrenheit.

#Program to guess a number between 1 to 9

In [ ]:
x = 5
while True:
  guess = int(input("guess a number between 1 to 9:  "))
  if guess == x :
    print("Congratulations! you guessed a number prcisely")
    break
  else:
    print("plz try again !")

guess a number between 1 to 9:  7
plz try again !
guess a number between 1 to 9:  9
plz try again !
guess a number between 1 to 9:  5
Congratulations you guessed a number prcisely

#Design a pettern using nested loop

In [ ]:
for i in range(1,6):
  for j in range(9,6):
    print('*')

#Reverse the accepted words from the user

In [ ]:
x = input("plz enter a word:  ")
reversed_word = reversed(x)
print(''.join(reversed_word))

plz enter a word:  zeyam ali
ila mayez

#